<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Welcome!{% endblock %}</title>
        <!-- Loading libreria Bootstrap -->
        {% block stylesheets %}

            {% stylesheets
                'assets/vendor/jqueryui-timepicker-addon/dist/jquery-ui-timepicker-addon.min.css'
                'assets/vendor/jquery-ui/themes/redmond/jquery-ui.css'
                'assets/vendor/bootstrap/dist/css/bootstrap.min.css'
                'assets/vendor/bootstrap/dist/css/bootstrap-theme.min.css'
                '@JosuTestWebBundle/Resources/public/css/main.css'
                %}
                <link rel="stylesheet" href="{{ asset_url }}" />
            {% endstylesheets %}
        {% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
        <div  class="container">
           <div>
                <h2>Customer Portal</h2>
            </div>
            <hr />
            <div class="sectionBody">{% block body %}{% endblock %}</div>
            <div style="clear:both;">
        </div>



        {% block javascripts %}
            <!-- Loading all libraries we need in the app:
                * jQuery
                * Bootstrap
             -->

            {% javascripts
                'assets/vendor/jquery/dist/jquery.min.js'
                'assets/vendor/bootstrap/dist/js/bootstrap.min.js'
                'assets/vendor/jquery-ui/jquery-ui.min.js'
                'assets/vendor/jqueryui-timepicker-addon/dist/jquery-ui-timepicker-addon.min.js'
                '@JosuTestWebBundle/Resources/public/js/main.js'
                %}
                <script type="text/javascript" src="{{ asset_url }}"></script>
            {% endjavascripts %}

        {% endblock %}

        {% block javascripts_section %}
        {% endblock %}
    </body>
</html>
