<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}
            <!-- Loading libreria Bootstrap -->
            {% stylesheets 
                '@JosuTestWebBundle/Resources/public/css/bootstrap.min.css'
                '@JosuTestWebBundle/Resources/public/css/bootstrap-theme.min.css'
                '@JosuTestWebBundle/Resources/public/css/main.css'
                %}
                <link rel="stylesheet" href="{{ asset_url }}" />
            {% endstylesheets %}



        {% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
        <div  class="container">
           <div>
                <h2>Customer Portal</h2>
            </div>
            <hr />
            <div class="sectionBody">{% block body %}{% endblock %}</div>
            <div style="clear:both;">
            <hr />
            <footer class="footer col-xs-12">
              <div class="container">
                <p>Josu Ruiz. cyrusnimda@gmail.com</p>
              </div>
            </footer> 
        </div>
        
    

        {% block javascripts %}
            <!-- Loading all libraries we need in the app: 
                * jQuery
                * Bootstrap
             -->
            {% javascripts 
                '@JosuTestWebBundle/Resources/public/js/jquery.min.js'
                '@JosuTestWebBundle/Resources/public/js/bootstrap.min.js' %}
                <script type="text/javascript" src="{{ asset_url }}"></script>
            {% endjavascripts %}

        {% endblock %}

        {% block javascripts_section %}
        {% endblock %}
    </body>
</html>
