{% extends 'JosuTestWebBundle::base.html.twig' %}

{% block body %}
	{% if error %}
	    <div class="text-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
	{% endif %}

	{{ form_start( loginForm ) }}
	{{ form_widget( loginForm ) }}
	{{ form_end( loginForm ) }}



{% endblock %}
